#borderPane {
    -fx-background-color: #151924;
}
#filmsContainer {
    -fx-background-color: #151924;
}

#leftButton, #rightButton {
    -fx-background-color: #151924;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}