.Selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.buttonS {
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-border-radius: 5px;
    -fx-font-family: "Arial Black";

}

.addButton{
    -fx-alignment: center;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-border-radius: 5px;
    -fx-font-family: "Arial Black";
}

.conflict{
    -fx-text-fill: red;
}