#root:hover{
    -fx-background-color: #000000;
}
#titleLabel{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10px;
    -fx-text-alignment: center;
}
